<?xml version="1.0"?>

<model>
  <name>Bent Mill</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Samarth Negi, Uday Shankar</name>
    <email>samarth.negi@phicode.io, uday@phicode.io</email>
  </author>

  <description>
    A bent model of a windmill 
  </description>
</model>
